.about {
	width: 100%;	
	background: url("@{dir}bg-about-desk.jpg") center;
  	background-size: cover;  	
}
.about-content {
	padding-top: 90px;
	margin-bottom: 245px;
	p {
		font-family: @ff2;
		text-transform: uppercase;
		text-align: right;
	}
}