@html-size-base: 					10px;

@fs: 						      	1.8rem;
@fss: 						    	1.6rem;
@fsb: 						    	2.2rem;

@h1: 						      	4.8rem;
@h2: 						      	3.6rem;
@h3: 						      	2.4rem;
@h4: 						      	2.2rem;
@h5: 						      	2rem;
@h6: 						      	1.8rem;

@lh: 						      	1.3;

@ff: 								'HeliosCond', sans-serif;
@ff1: 								'HeliosCondCBold', sans-serif;
@ff2: 								'HeliosCondLightC', sans-serif;

@gold: 								#d3a65e;
@gold1:                             #a9965a;
@white: 							#fff;
@black:                             #000;

@text-color: 						@black;
@text-margin: 						0 0 1rem;

@dir: 						    	"../img/";
@dir-fonts: 				  		"../fonts/";


@mobile:      ~"only screen and (min-width: 320px)";
@tablet:      ~"only screen and (min-width: 768px)";
@desktop:     ~"only screen and (min-width: 992px)";
@desktop-xl:  ~"only screen and (min-width: 1200px)";